.chromestyle ul{
border: 0px;
width: 100%;
padding: 0px;
margin: 0;
text-align: center; /*set value to "left", "center", or "right"*/
}

.chromestyle ul li{
display: inline;
}

.chromestyle ul li a{
padding: 0px;
margin: 0px;
text-decoration: none;
border-right: 0px;
}



/* ######### Style for Drop Down Menu ######### */

.dropmenudiv{
text-align: center;
position:absolute;
top: 0;
border: 1px solid #BBB; /*THEME CHANGE HERE*/
border-bottom-width: 0;
font:bold 12px tahoma;
letter-spacing: 1px;
line-height:30px;
z-index:0;
background-color: white;
visibility: hidden;

}


.dropmenudiv a{
width: auto;
display: block;
text-indent: 3px;
border-bottom: 1px solid #BBB; /*THEME CHANGE HERE*/
text-decoration: none;
font-weight: bold;
color: black;
}

* html .dropmenudiv a{ /*IE only hack*/
width: 100%;
}

.dropmenudiv a:hover{ /*THEME CHANGE HERE*/
background-color: #F0F0F0;
}