c
html, body, address, blockquote, div, dl, form, h1, h2, h3, h4, h5, h6, ol, p, pre, table, ul,
dd, dt, li, tbody, td, tfoot, th, thead, tr, button, del, ins, map, object,
a, abbr, acronym, b, bdo, big, br, cite, code, dfn, em, i, img, kbd, q, samp, small, span,
strong, sub, sup, tt, var, legend, fieldset {
margin: 0;
padding: 0;
border:0;
}
img, fieldset {
border: 0;
}

body {
    background: #c9d7d0 url("/images/main_bg.png") left top;
    background-repeat: repeat-x;
	text-align: center;
}

#container {
    width: 991px;
    margin-left:auto;
    margin-right:auto;
	background: url("/images/content_bg.png") left top;
	background-repeat: repeat-y;
	padding-bottom: 10px;
	
}

#preheader {
    margin-left:auto;
    margin-right:auto;
	text-align: center;
	width: 991px;
	height: 110px;	
}

#header {
    margin-left:auto;
    margin-right:auto;
	text-align: center;
	width: 991px;
	height: 49px;	
}

#blackbar {
	background: black;
	width: 100%;
	height: 25px;
}
#blackbar-text {
    margin-left:auto;
    margin-right:auto;
	width: 937px;
	height: 20px;
	padding-left: 10px;
	font-family: "Tahoma", sans-serif;
	font-size: 12px;
	color: #aeaeae;
	padding-top: 5px;
}

#blackbar-text A:link, #blackbar-text A:visited{
    text-decoration:none;
    color: #aeaeae;
}
#blackbar-text A:hover, #blackbar-text A:active{
	text-decoration: bold;
	color: #666666;
}

#center {
	margin-left:auto;
    margin-right:auto;
}

#join {
	background:url("/images/join.jpg") no-repeat;
	width:957px;
	height: 229px;
	margin-left:0px;
	padding-right:0px;
}
#join span {
	display: none;
}
#join li, #join a {
	width:957px;
	height:150px;
	display:block;
}
#join li {
	float:left;
	list-style:none;
	display:inline;
}
#join_1 {	
	padding-left: 0px;
	padding-top: 71px;
	width: 957px; 
	height: 150px;
}
#join_1 a:hover {background:url("/images/join.jpg") 0px -300px no-repeat; }


#nav1 {
	background:url("/images/top.png") top center no-repeat;
	width:991px;
	height:110px;
	margin:0;
	padding:0;
}
#nav1 span {
display: none;
}
#nav1 li, #nav1 a {
height:110px;
display:block;
}
#nav1 li {
float:left;
list-style:none;
display:inline;
}
#nav1_0 {width: 17px;}
#nav1_1 {width: 365px;}
#nav1_2 {width: 301px;}
#nav1_3 {width: 291px;}
#nav1_3 a:hover {background:url("/images/top.png") -665px -112px no-repeat; }



#nav2 {
width:991px;
height:49px;
margin:0;
padding:0;
}



#nav2 span {
display: none;
}
#nav2 li, #nav2 a {
height:49px;
display:block;
}
#nav2 li {
float:left;
list-style:none;
display:inline;
}
#nav2_1 {width: 100px;}
#nav2_2 {width: 120px;}
#nav2_3 {width: 110px;}
#nav2_4 {width: 110px;}
#nav2_5 {width: 110px;}
#nav2_6 {width: 110px;}
#nav2_7 {width: 110px;}
#nav2_8 {width: 110px;}




#templatehead {
	background: /*#cbd7d9; #bbd5da; #9bbbaa*/ white;
	width:957px;
	height: 50px;
	margin-left: 0px;
	margin-right: 0px;
	padding:0;	
	text-align: left;
	border-bottom: 1px solid #dcdcdc;
}

#templatehead-text{
	font-family: verdana;
	font-size: 30px;
	color: #6b6b6b;
	letter-spacing: -1px;
	padding-top: 20px;
	margin-left: 20px;
	margin-bottom: 0px;
	text-transform: none;
	text-shadow: #eeeeee 1px 1px 2px;
	
}


#body {
	width: 957px;
	min-height: 500px;
    margin-left:17px;
    margin-right:17px;
    font-family: "Verdana", sans-serif;
    color: #444444;
    font-size: 16px;
    line-height: 1.4em;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
	margin-bottom: 0px;
	border:0px;
}

#body A:link {
	color: #4a8aad;
	text-decoration: none;
}

#body A:visited {
	color: #8c77b5;
	text-decoration: none;
}

#body A:hover {
	color: gray;
	text-decoration: underline;
}

#body A:active {
	color: gray;
	text-decoration: none;
}

#body h1 {
	font-family: arial;
	color: #6b6b6b;
    font-size: 20px;
    margin-bottom:10px;
	font-weight: normal;
	text-shadow: #aaaaaa 1px 1px 2px;
}
#body h2 {
	font-family: "Verdana", sans-serif;
    font-size: 18px;
    padding-bottom:5px;
	font-weight: normal;
}

#body h3 {
    font-size: 18px;
	font-weight: normal;
	color: #8c77b5;
	font-family: "Verdana", sans-serif;
	margin-bottom: 1.0em;
}

#body p{
	margin-bottom: 1.0em;
	text-align: left;
}
#body p + p {
    /*text-indent: 1.5em;*/
    margin-top: 0;
}


.feedburnerFeedBlock div {
	margin-top: 0px;
	
}

.feedburnerFeedBlock ul {
	list-style-type: none
}

.feedburnerFeedBlock div {
	margin-bottom: 30px;
}

.headline {
	display:none;
	font-size: 20px;
	font-weight: normal;
	color: #8c77b5;
	font-family: "Arial", sans-serif;
}

.date {
	font-family: "Arial", sans-serif;
	color: #6b6b6b;
	font-size: 22px;
	line-height: 35px;
	padding-top: 0px;
	font-weight: bold;
	text-shadow: #dddddd 1px 1px 2px;
	border-bottom: 1px solid #eee;
}

.title {
	font-family: "Arial", sans-serif;
	color: #6b6b6b;
	font-size: 22px;
	line-height: 35px;
	padding-top: 0px;
	margin-bottom: 20px;
	font-weight: bold;
	text-shadow: #dddddd 1px 1px 2px;
}

#creditfooter img {
	display: none;
}

#left {
    font-family:"Verdana", sans-serif;
    color: #444444;
    font-size: 13px;
    line-height: 1.4em;
	width: 670px;
	background: transparent;
	margin: 0px;
}

#margins {
	margin: 22px;
}

#expanded-div {
    font-family:"Verdana", sans-serif;
    color: #444444;
    font-size: 13px;
    line-height: 1.4em;
	text-align: left;
	margin: 22px;
}

#right {
    font-family: "Verdana", sans-serif;
    color: #444444;
    font-size: 13px;
    line-height: 1.4em;
	width: 287px;
	background: transparent;
	/*padding-left: 25px;
	padding-right: 15px;*/
	margin: 0px;	
}

#calendar-date {
	color: white;
	font-size: 20px;
	font-family: "Arial", sans-serif;
	width: 70px;
	height: 30px;
	background-color: #a6bdca;
	text-align: right;
	/*text-shadow: #dddddd 1px 1px 2px*/;
	margin: 0px;
	padding: 0px;
}

#calendar-time {
	color: white;
	font-size: 14px;
	font-family: "Arial", sans-serif;
	width: 70px;
	height: 20px;
	background-color: #91a5ba;
	text-align: right;
	margin: 0px;
	padding: 0px;
}

#calendar-info{
	padding-left: 5px;
	font-size: 13px;
	line-height: 20px;
}

#calendar-space{
	clear: both;
	width: 70px;
	height: 3px;
	overflow: hidden;
}
	
#calendar td{
	vertical-align: top;
}



#footer {
    width: 991px;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    padding-bottom: 100px;
	background: url("/images/footer_bg.png") center top;
	background-repeat: no-repeat;
}
#footerstripe {
	padding-top: 22px;
    font-family: "Tahoma", sans-serif;
    font-size: 16px;
    color: white;
	letter-spacing: 0.5px;
}

#footerstripe A:link, #footerstripe A:visited {
    color:white;
}
#footerstripe A:hover, #footerstripe A:active {
    text-decoration: none;
	color: #4a8aad;
}
#footer table {
    margin-top: 25px;
    width: 957px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    
}
#footer .footerlogo {
    width: 195px;
    vertical-align:top;
    padding-right: 10px;
    padding-left: 30px;
}
#footer .footerlink{
    vertical-align: top;
    width: 134px;
}
#footer .footerlink A:link, #footer .footerlink A:visited{
    vertical-align: top;
    font-family: "Tahoma", "Arial", sans-serif;
    color: #979797;
    font-weight: none;
    text-decoration: none;
	font-size:13px;
    
}
#footer .footerlink .footerlinktitle A:link, #footer .footerlink .footerlinktitle A:visited{
    color: #c4c4c4;
    font-weight: bold;
    display:block;
}
#footer .footerlink A:hover, #footer .footerlink A:active{
    text-decoration:underline;
}



#resume_menu{
	position:relative; 
	top:0;
	text-align:right; 
	border:0; 
	z-index:1;
	padding:0px;
	width:100%;
	height:20;}
	
#primarycontent
{
position: relative;
float: left;
}

#primarycontent h3
{
position: relative;
top: 4px;
font-size: 18px;
line-height: 25px;
color: #656551;
letter-spacing: -1px;
background: url('../images/a22.gif') bottom repeat-x;
padding: 0px 0px 10px 15px;
margin-bottom: 20px;
}

#primarycontent h4
{
position: relative;
top: 5px;
font-size: 14px;
/*line-height: 20px;*/
color: #656551;
letter-spacing: -1px;
/*padding: 0px 0px 10px 15px;*/
margin-bottom: 5px;
}

#primarycontent .content
{
padding: 0px 15px 0px 15px;
margin-bottom: 20px;
}

#primarycontent .post
{
margin-bottom: 30px;
}

#primarycontent .post .header
{
position: relative;
}

#primarycontent .post .date
{
position: absolute;
right: 15px;
top: 0px;
line-height: 35px;
color: #AFAFA4;
font-weight: bold;
}

#primarycontent .post .content
{
margin-bottom: 0px;
}

#primarycontent .post .footer
{
position: relative;
top: -10px;
background: url('../images/a33.gif') repeat-x;
height: 64px;
}

#primarycontent .post .footer ul
{
list-style: none;
position: absolute;
right: 15px;
bottom: 15px;
}

#primarycontent .post .footer ul li
{
display: inline;
line-height: 14px;
padding-left: 17px;
margin-left: 25px;
background-repeat: no-repeat;
background-position: 0px 2px;
}

#primarycontent .post .footer ul li.printerfriendly
{
background-image: url('../images/a41.gif');
}

#primarycontent .post .footer ul li.comments
{
background-image: url('../images/a36.gif');
}

#primarycontent .post .footer ul li.readmore
{
background-image: url('../images/a38.gif');
}

.msg_hideall {
	padding: 5px;
	background-color:#FFCCCC;
	cursor: pointer;
}

.msg_showall {
	padding: 5px;
	background-color:#FFCCCC;
	cursor: pointer;
}
.msg_head {
cursor: pointer;
position: relative;
text-decoration: underline;
width: 300px;
color: blue;
}
.msg_body {
padding-left: 5px;
background-color:#F4F4F8;
width: 600px;
margin-bottom: 10px;
}